{{define "articles"}}
<h2>Recent Articles</h2>
<ul class="recent-articles">
  <li><span>07/31/2024</span>&nbsp; - <a href="">Why Listen to Me?</a></li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">Data Structures in GoLang</a>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">LeetCode... whats the point?</a>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">How to Start Programming</a>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">The Actual Missing Semester</a>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; -
    <a href=""><b>AI</b> is making us <b>A</b>ll <b>I</b>diots...</a>
  </li>
</ul>
{{end}}
