{{define "highlights"}}
<h2>Highlights</h2>
<ul class="recent-articles">
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">Why Listen to Me?</a>
    <br />
    <p>Here are some details</p>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">Data Structures in GoLang</a>
    <br />
    <p>Here are some details</p>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">LeetCode... whats the point?</a>
    <br />
    <p>Here are some details</p>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">How to Start Programming</a>
    <br />
    <p>Here are some details</p>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; - <a href="">The Actual Missing Semester</a>
    <br />
    <p>Here are some details</p>
  </li>
  <li>
    <span>07/31/2024</span>&nbsp; -
    <a href=""><b>AI</b> is making us <b>A</b>ll <b>I</b>diots...</a>
    <br />
    <p>Here are some details</p>
  </li>
</ul>
{{end}}
