{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Connor-VE</title>
    <link rel="icon" type="image/x-icon" href="/css/coffee.svg" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
    </style>
  </head>
  <body>
    {{template "nav" .}} {{template "content" .}} {{template "footer" .}}
  </body>
</html>
{{end}}
